html{
    height: 125%;
      background-image: linear-gradient(to bottom right, #ec7a81, #30295f);
      background-repeat: no-repeat !important;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* The browser window */
  .container {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 50px;
    background: #f1f1f1;
    /*background-image: linear-gradient(to bottom right, #F53844, #302862);*/
  }
  
  /* Container for columns and the top "toolbar" */
  .row {
    padding: 10px;
    background: #d8d2ca;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
  }
  
  .left {
    width: 15%;
  }
  
  .right {
    width: 10%;
  }
  
  .middle {
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Three dots */
  .dot {
    margin-top: 4px;
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  /* Page content */
  .content {
    padding: 75px;
    margin-top: -25px;
  }
h3 {
    font-family: 'Shrikhand', cursive;
    letter-spacing: 0.05rem;
    font-size: 1.75rem;
    text-align: center;
  }
p {
    letter-spacing: 0.025rem;
    font-size: 1.0rem;
    text-align: center;
    font-family: 'Lora', serif;
}
.scarlet_meet_logo {
    height: 85%;
    width: 85%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    .scarlet_meet_logo {
        height: 55%;
        width: 55%;
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    html {
        height: 60rem;
    }
}

@media only screen and (max-width: 500px) {
  html {
    height: 65rem;
}
}

@media only screen and (min-height: 600px) {
  html {
    height: 90rem;
}
}

.next_links{
    padding:0.6em 2em;
    border-radius: 15px;
    color:#fff;
    background-color:#000000;
    font-size:1.1em;
    border:0;
    margin:1em;
    font-family: 'Shrikhand', cursive;
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 165px;
    outline: none;
    cursor: pointer;
}
